site_urls:
  - https://xestray.cc/search/search_index.json
  - https://note.tonycrane.cc/search/search_index.json
  - https://xuan-insr.github.io/search/search_index.json
  - https://zju-turing.github.io/TuringCourses/search/search_index.json
  - https://note.isshikih.top/search/search_index.json
  - https://note.jiepeng.tech/search/search_index.json
  - https://sakuratsuyu.github.io/Note/search/search_index.json
  - https://note.noughtq.top/search/search_index.json
  - https://victorwang712.github.io/Note/search/search_index.json
  - https://lhxcs.github.io/note/search/search_index.json
  - https://tree.45gfg9.net/search/search_index.json